<section>
    <div class="spacer">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-9">
            <div class="row shop-listing">
              <div class="col-md-4" *ngFor="let product of products" style="margin-right: 00px;">
                <mat-card style="width: 100%;">
                <mat-card-header style="width: 100%">
                  <h1 style="width: 100%; text-align: center;">{{product.name}}</h1>
                </mat-card-header>
                <mat-card-content>
                <div class="card shop-hover border-0">
                  <img [src]="product.image" alt="wrapkit" class="img-fluid" style="margin-left: auto; margin-right: auto; width: 200px; height: 200px; overflow: hidden;"/>
                  <!-- <img [src]="'https://i.picsum.photos/id/269/50/50.jpg?hmac=MeUnsLVaM6i-54qJVEzT9IzXRHjflfMyvTc86fAPpHE'" alt="wrapkit" class="img-fluid" /> -->
                </div>
                </mat-card-content>
                <mat-card-footer>
                  <mat-grid-list cols="1" rowHeight="10:1">
                    <mat-grid-tile style="height: 60px;">{{ product.description }}</mat-grid-tile>
                  </mat-grid-list>
                  <mat-grid-list cols="3" rowHeight="2:1">
                    <mat-grid-tile>Aisle: {{product.aisle}}</mat-grid-tile>
                    <mat-grid-tile>Quantity: {{product.quantity}}</mat-grid-tile>
                    <mat-grid-tile>Price: ₹{{product.price}}</mat-grid-tile>
                  </mat-grid-list>
                  <mat-grid-list cols="3" rowHeight="2:1">
                    <mat-grid-tile>
                      <mat-form-field appearance="fill" style="width: 80px; height: 40px;">
                        <mat-label for="quantity">Quantity</mat-label>
                        <input matInput type="number" #quantity id="quantity" name="quantity">
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile><button class="btn btn-sm btn-info" (click)="_adjustStock(product.productID, quantity.value)">Adjust</button></mat-grid-tile>
                    <mat-grid-tile><button class="btn btn-sm btn-info" (click)="_editProduct(product.productID)">Edit</button></mat-grid-tile>
                  </mat-grid-list>
                </mat-card-footer>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
</section>